$white-a: #fff;
$white-b: #eee;
$white-c: #808080;
$white-d: #bcd;
$white-e: #f4f6f8;
$white-f: #f7f7f7;
$white-g: #aaa;
$white-h: #999;
$white-i: #ccc;
$white-j: #f3fff3;
$white-k: #f7f9fa;

$black-a: #000;
$black-b: #222;
$black-c: #444;
$black-d: #333;
$black-e: #667;
$black-f: #555;
$black-g: #111;

$blue-a: #347;
$blue-b: #49e;
$blue-c: #49f;
$blue-d: #24a;
$blue-e: #cef;

$red-a: #ff0000;
$red-b: #e22;
$red-c: #8b0000;

$green-a: #008000;
$green-b: #3a3;

$yellow-a: #ec5;
